.popover button.close {
  padding-left: 10px;
  line-height: 0;
}
.popover-element {
  cursor: pointer;
}
div.clientMessages ul li {
  font-weight: normal;
}
.btn-standard-primary {
  width: auto;
  font-family: muli !important;
  text-transform: uppercase;
  background-color: #3ecc33 !important;
  background: #3ecc33;
  background-image: -webkit-linear-gradient(top, #3ecc33, #157a0e);
  background-image: -moz-linear-gradient(top, #3ecc33, #157a0e);
  background-image: -ms-linear-gradient(top, #3ecc33, #157a0e);
  background-image: -o-linear-gradient(top, #3ecc33, #157a0e);
  background-image: linear-gradient(to bottom, #3ecc33, #157a0e);
  color: #ffffff !important;
  border: solid #11640a 1px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  font-size: 14px;
  padding: 3px 10px 3px 10px !important;
  text-decoration: none !important;
  vertical-align: middle;
  height: 28px;
}
.btn-standard-primary:hover,
.btn-standard-primary.hover {
  color: #e0e0e0 !important;
  background: #1a9c10;
  background-image: -webkit-linear-gradient(top, #1a9c10 #1a9c10);
  background-image: -moz-linear-gradient(top, #1a9c10, #1a9c10);
  background-image: -ms-linear-gradient(top, #1a9c10, #1a9c10);
  background-image: -o-linear-gradient(top, #1a9c10, #1a9c10);
  background-image: linear-gradient(to bottom, #1a9c10, #1a9c10);
  text-decoration: none !important;
}
.btn-standard-primary:disabled {
  color: #b3dcb1 !important;
  background: #9bd497 !important;
  background-image: -webkit-linear-gradient(top, #9bd497, #85ce82) !important;
  background-image: -moz-linear-gradient(top, #9bd497, #85ce82) !important;
  background-image: -ms-linear-gradient(top, #9bd497, #85ce82) !important;
  background-image: -o-linear-gradient(top, #9bd497, #85ce82) !important;
  background-image: linear-gradient(to bottom, #9bd497, #85ce82) !important;
  text-decoration: none !important;
}
.btn-green {
  margin: 0;
  padding: 2px 5px;
  cursor: pointer;
  font-size: 8pt;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #8FBC08;
  background-color: #95B520;
  background-image: linear-gradient(to bottom, #a7c039, #7dab00);
  color: white;
}
.btn-green:hover,
.btn-green:focus {
  border: 1px solid #7ca407;
  background-color: #839f1c;
  background-image: linear-gradient(to bottom, #96ac33, #6a9200);
  color: #f2f2f2;
}
.btn-standard-secondary {
  width: auto;
  font-family: muli !important;
  text-transform: uppercase;
  background: #6ca3e8;
  background-image: -webkit-linear-gradient(top, #6ca3e8, #30689d);
  background-image: -moz-linear-gradient(top, #6ca3e8, #30689d);
  background-image: -ms-linear-gradient(top, #6ca3e8, #30689d);
  background-image: -o-linear-gradient(top, #6ca3e8, #30689d);
  background-image: linear-gradient(to bottom, #6ca3e8, #30689d);
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 10px 3px 10px !important;
  border: solid #2a5a88 1px;
  text-decoration: none !important;
  vertical-align: middle;
  height: 28px;
}
.btn-standard-secondary:hover,
.btn-standard-secondary.hover {
  color: #e0e0e0 !important;
  background: #4c91e0 !important;
  background-image: -webkit-linear-gradient(top, #4c91e0, #3576b3) !important;
  background-image: -moz-linear-gradient(top, #4c91e0, #3576b3) !important;
  background-image: -ms-linear-gradient(top, #4c91e0, #3576b3) !important;
  background-image: -o-linear-gradient(top, #4c91e0 #3576b3) !important;
  background-image: linear-gradient(to bottom, #4c91e0, #3576b3) !important;
  text-decoration: none !important;
}
.btn-standard-cancel {
  width: auto;
  font-family: muli !important;
  text-transform: uppercase;
  background: #e0e3e6;
  background-image: -webkit-linear-gradient(top, #e0e3e6, #c4c6c8);
  background-image: -moz-linear-gradient(top, #e0e3e6, #c4c6c8);
  background-image: -ms-linear-gradient(top, #e0e3e6, #c4c6c8);
  background-image: -o-linear-gradient(top, #e0e3e6, #c4c6c8);
  background-image: linear-gradient(to bottom, #e0e3e6, #c4c6c8);
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 10px 3px 10px !important;
  border: solid #2a5a88 1px;
  text-decoration: none !important;
  vertical-align: middle;
  height: 28px;
}
.btn-standard-cancel:hover,
.btn-standard-cancel.hover {
  color: #e0e0e0;
  background: #c4c6c8;
  background-image: -webkit-linear-gradient(top, #c4c6c8, #a7a8a9);
  background-image: -moz-linear-gradient(top, #c4c6c8, #a7a8a9);
  background-image: -ms-linear-gradient(top, #c4c6c8, #a7a8a9);
  background-image: -o-linear-gradient(top, #c4c6c8 #a7a8a9);
  background-image: linear-gradient(to bottom, #c4c6c8, #a7a8a9);
  text-decoration: none !important;
}
.btn-standard-disabled {
  width: auto;
  font-family: muli !important;
  text-transform: uppercase;
  background: #4886d1;
  background-image: -webkit-linear-gradient(top, #4886d1, #30689d);
  background-image: -moz-linear-gradient(top, #4886d1, #30689d);
  background-image: -ms-linear-gradient(top, #4886d1, #30689d);
  background-image: -o-linear-gradient(top, #4886d1, #30689d);
  background-image: linear-gradient(to bottom, #4886d1, #30689d);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #cac9c9 !important;
  font-size: 14px;
  padding: 3px 10px 3px 10px !important;
  border: solid #2a5a88 1px;
  text-decoration: none !important;
  vertical-align: middle;
  height: 28px;
}
.btn-standard-pad-left {
  padding-left: 10px;
}
.form-control {
  height: 28px;
}
.quicklist-name:hover {
  color: #969696;
}
.hamburger-standard {
  color: #f2f7fa;
  background: #f2f7fa;
}
.caret-standard {
  color: #969696;
}
.icon-standard {
  color: #0079ba;
}
.title-standard {
  color: #0079ba;
}
.wordwrap {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  /* IE 5+ */
}
.clientMessages h4 {
  color: #FFFFFF !important;
  background-color: #0F3C80 !important;
}
a:link:after,
a:visited:after {
  content: normal !important;
}
.availabilityInStockStatus {
  color: green;
  font-weight: bold;
}
.availabilityLowStockStatus {
  color: black;
  font-weight: bold;
}
.availabilityNoStockStatus {
  color: black;
  font-weight: bold;
}
.availabilityDiscontinuedStatus {
  color: red;
  font-weight: bold;
}
.availabilitySpecialStatus {
  color: black;
  font-weight: bold;
}
#searchResults {
  margin-bottom: 10px;
}
#searchResults .pagination li {
  margin: 0;
  padding: 0;
}
.panel-group .panel {
  margin-bottom: 10px;
}
.panel-title .fa {
  padding-right: 10px;
}
.mainContainer a {
  text-decoration: none !important;
}
.placeholder {
  color: #000000;
}
.form-group {
  margin-bottom: 15px !important;
}
.indent {
  margin: 10px;
}
.expirationdate {
  padding: 4px;
}
.has-error select {
  border-width: 2px;
  padding: 3px;
}
.blockMsg {
  opacity: 0.5;
}
.error-message {
  color: #e11717 !important;
}
.selectCreditCard {
  color: cadetblue;
}
a.disabled {
  opacity: 1.0;
  pointer-events: none;
}
a.locked {
  opacity: 0.4;
  pointer-events: none;
}
.blockUI {
  opacity: 0.4 !important;
}
.row {
  margin-top: 0 !important;
}
#ShippingAddressCollapse .carousel-indicators .active {
  background-color: #0f3c80;
}
#ShippingAddressCollapse .carousel-indicators li {
  border-color: #0f3c80;
}
div #ShippingAddressPanel hr {
  border-color: #0f3c80;
  margin-top: 6px;
  margin-bottom: 10px;
}
div #shippingAddressOptionsContainer hr {
  border-color: #0f3c80;
  margin-top: 5px;
  margin-bottom: 10px;
}
div #BillingAddressPanel hr {
  border-color: #0f3c80;
  margin-top: 6px;
  margin-bottom: 10px;
}
.smallMarginBottom {
  margin-bottom: 2px !important;
}
.newAddressButton {
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}
.centered-text {
  text-align: center;
}
.hidden {
  visibility: hidden;
}
.addressFomat {
  font-weight: normal;
}
#baSaveAsDefault {
  padding-left: 20px;
  padding-top: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.1 !important;
}
.checkout-col-format {
  padding-left: 0 !important;
}
.selectedShipTo {
  background-color: #f1f6f1;
  border-radius: 5px !important;
  border: 2px solid #b7cbb7  !important;
}
.paymentMethodRow {
  height: 49px;
  padding-top: 5px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
.selectedBillTo {
  background-color: #f1f6f1;
  border-radius: 5px !important;
  border: 2px solid #b7cbb7  !important;
}
.cctype {
  margin-right: 3px !important;
}
.cc-image-styling {
  padding-top: 15px !important;
}
.cc-table td {
  vertical-align: middle;
}
